html {
  background-color: white;
}

nav {
  background-color: black;
}

.navbar .navbar-light .navbar-nav .nav-link {
  text-decoration: none;
  color: white;
}

h1, h4, h5, p, ul, li {
  text-align: center;
}

.card {
  margin: 0 100px;
  margin-bottom: 20px;
}

.label-as-badge {
  background-color: blue;
}