html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em Hind;
  box-sizing: border-box;
  overflow-y: scroll;
}
*, 
*:before, 
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Hind";
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu";
  text-rendering: optimizeLegibility;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
p {
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
