{% extends 'base.html' %}
<h1>{% block title %}Hi, I'm Marta{% endblock %}</h1>

{% block content %}
  <h5>A software engineer with an interest in Internet of Things and data security.</h5>

  <p>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#experience" aria-expanded="false" aria-controls="experience">
      Currently working as an embedded software engineer
    </button>
  </p>
<div class="collapse" id="experience">
  <div class="card card-body">
    <ul>
      <li>Environments: Command line tools, Code Composer Studio, IAR Embedded Workbench</li>
      <li>Processors: ESP32, TI-CC2650, ARM Cortex M</li>
      <li>Protocols: Bluetooth Low Energy, WiFi, UART, SPI, I2C</li>
      <li>Operating systems: FreeRTOS, Bare-metal</li>
      <li>Standards: MISRA C 2004, ISO 13485 and ISO 14972</li>
    </ul>
  </div>
</div>

<p>
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#skills" aria-expanded="false" aria-controls="skills">
    And exploring the fields of web dev and data engineering
  </button>
</p>
<div class="collapse" id="skills">
  <div class="card card-body">
    <ul>
        <li>Languages: C++, Python, Go, Javascript</li>
        <li>Paradigms: Procedural programming, Object-oriented, Test-driven development</li>
        <li>Tools: MySQL, AWS, React, Docker, Enterprise Architect</li>
    </ul>
  </div>
</div>


<p>
  <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#other" aria-expanded="false" aria-controls="other">
    But I don't only talk to machines
  </button>
</p>
<div class="collapse" id="other">
  <div class="card card-body">
    <ul>
      <li>Fluent in Spanish and Portuguese</li>
      <li>Sailor, skiier and tennis aficionado</li>
      <li>Advocate for circular economics</li>
      <li>Avid reader and amateur writer</li>
    </ul>
  </div>
</div>
{% endblock %}