{% extends 'base.html' %}
<h1 class="main-title">{% block title %}Hi, I'm Marta{% endblock %}</h1>

{% block content %}
  <h5 class"sub-title">A software engineer with an interest in Internet of Things and data security.</h5>
<div class="d-flex p-2 justify-content-center">
  <div class="homepage-single-button">
    <a href="{{ url_for('main.blog') }}" class="homepage-button-link">
      <button class="btn btn-secondary" type="button" data-target="#experience" aria-expanded="false" aria-controls="experience">
        Articles
      </button>
    </a>
  </div>

  <div class="homepage-single-button">
    <a href="{{ url_for('main.about') }}" class="homepage-button-link">
      <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#skills" aria-expanded="false" aria-controls="skills">
        About
      </button>
    </a>
  </div>
</div>
  


{% endblock %}